* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
:root {
  --main-color: #4caf4f;
  --text-color: #717171;
  --title-color: #4d4d4d;
  --black: #000000;
  --white: #ffffff;
  --bg-alt: #f5f7fa;
  --bg: #263238;
  --h1-size: 40px;
  --h2-size: 36px;
  --section-padding: 40px;
}
html {
  scroll-behavior: smooth;
}
.container {
  padding: 40px 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container {
  display: flex;
  justify-content: space-between;

}
header {
  position:sticky;
  top: 0;
  height: 90px;
  background-color: #ebe3e3;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo a {
  font-size: 25px;
  color: var(--bg);
}
nav ,ul {
  display: flex;
  gap: 70px;
  margin-right: -50px;
}
a {
  text-decoration: none;
  color: var(--bg);
  font-size: 20px;
}
li {
  list-style: none;
}
.login {
  color: var(--main-color);
  font-size: 20px;
}
.sing-up {
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  color: var(--bg-alt);
  background-color: var(--main-color);
  transition: all 0.4s;
}
.sing-up:hover {
  color: #000;
  background-color:#2a9c2e;
}
label {
  display: none;
}
  #check {
    display: none;
  }

  @media (max-width: 991px){
    .container {
      overflow: hidden;
    }
    nav ul {
      display: none;
    }
    label {
      margin-right: 100px;
      cursor: pointer;
      font-size: 25px;
      display: block;
      
    }
    label .fa-xmark {
      display: none;
    }
    #check:checked ~ ul {
      display: flex;
      position: fixed;
      background-color: #717171;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
    #check:checked ~ ul a {
      color: var(--bg-alt);
      font-size: 22px;

    }
    #check:checked ~ label .fa-xmark {
      z-index: 2;
      position: fixed;
      top: 45px;
      right: 55px;
      display: block;
    } 
  }
  .home {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-left: 100px;
    margin-top: 100px;
  }
  .dek h1 {
    font-size: var(--h1-size);
    color: var(--bg);
    margin-top: 100px;
  }
  .dek span {
    color: var(--main-color);
  }
  .dek p {
    width: 100%;
    color: var(--text-color);
    margin-top: 20px;
    margin-left: 10%;
  }
  .our-clients {
    text-align: center;
    line-height: 30px;
    line-height: 40px;
  }
  .our-clients h2 {
    font-size: var(--h2-size);
    color: var(--title-color);
  }
  .our-clients p {
  color: var(--text-color);
  }
  .icon {
    text-align: center;
    display: flex;
    padding: 0 70px;
    padding: 15px 0 0 0;
    justify-content: space-around;
  }
  .our-clients img {
    margin-top: 50px;
  }
  .faeture {
    margin-top: 100px;
  }
  .spending-three-years {
  margin-top: 100px;
  }
  .spending-three-years h2 {
    font-size: var(--h1-size);
    color: var(--title-color);
    text-align: center;
    margin-top: -300px;
  }
  .spending-three-years p {
    margin-top: 20px;
    color: var(--text-color);
    line-height: 20px;
    text-align: center;
  }
  .more {
    width: 10%;
    position: relative;
    left: 30%;
    margin-top: 35px;
    border-radius: 10px;
    margin-left: 50px;
    text-align: center;
    padding: 20px;
    background-color: var(--main-color);
  }
  .more a {
    color: var(--bg-alt);
  }
